app/views/lk-step-2.jade
extends layouts/_default-lk

block content
    - var title = { description: 'Подать объявление' }
    section.account
        .container
            h1= title.description
            .steps
                .steps__item.check
                    .steps__img 1
                    p Категория товара
                .steps__item.active
                    .steps__img 2
                    p Характеристики
                .steps__item
                    .steps__img 3
                    p Описание
                .steps__item
                    .steps__img 4
                    p Фотографии
                .steps__item
                    .steps__img 5
                    p Обмен
                .steps__item
                    .steps__img 6
                    p Контакты
            .account__step
                .step__main
                    .text--center
                        h2 Укажите параметры
                    .col-xs-4.center-block
                        .form-group
                            label Марка
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Модель
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Год выпуска
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Пробег
                            input.form-control(type="text")
                        .form-group
                            label VIN номер
                            input.form-control(type="text", placeholder="WVWMN7AN3AE562579")
                        .form-group
                            label Свидетельство о регистрации
                            input.form-control(type="text")
                        .form-group
                            label Состояние
                            +fieldRadioIn('status', 'status1', 'Не требует ремонта', 'Не требует ремонта', false)
                            +fieldRadioIn('status', 'status2', 'Битый/не на ходу', 'Битый/не на ходу', true)
                .step__main
                    .col-xs-4.center-block
                        .form-group
                            label Тип двигателя
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Мощность двигателя
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Коробка передач
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Привод
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Руль
                            +fieldRadioIn('wheel', 'wheel1', 'Правый', 'Правый', false)
                            +fieldRadioIn('wheel', 'wheel2', 'Левый', 'Левый', true)
                .step__main.step__main--type
                    .col-xs-5.center-block
                        .form-group
                            label Тип кузова
                            +fieldRadioInBody('body', 'body1', 'Седан', 'Седан', '../images/body--1.png', true)
                            +fieldRadioInBody('body', 'body2', 'Хетчбэк', 'Хетчбэк', '../images/body--2.png', false)
                            +fieldRadioInBody('body', 'body3', 'Универсал', 'Универсал', '../images/body--3.png', false)
                            +fieldRadioInBody('body', 'body4', 'Внедорожник', 'Внедорожник', '../images/body--4.png', false)
                            +fieldRadioInBody('body', 'body5', 'Хетчбэк', 'Хетчбэк', '../images/body--5.png', false)
                            +fieldRadioInBody('body', 'body6', 'Пикап', 'Пикап', '../images/body--6.png', false)
                            +fieldRadioInBody('body', 'body7', 'Хетчбэк', 'Хетчбэк', '../images/body--7.png', false)
                            +fieldRadioInBody('body', 'body8', 'Лимузин', 'Лимузин', '../images/body--8.png', false)
                            +fieldRadioInBody('body', 'body9', 'Кабриолет', 'Кабриолет', '../images/body--9.png', false)
                            +fieldRadioInBody('body', 'body10', 'Кроссовер', 'Кроссовер', '../images/body--10.png', false)
                            +fieldRadioInBody('body', 'body11', 'Микроавтобус', 'Микроавтобус', '../images/body--11.png', false)
                            +fieldRadioInBody('body', 'body12', 'Хетчбэк', 'Хетчбэк', '../images/body--12.png', false)
                .step__main.step__main--color
                    .col-xs-5.center-block
                        .form-group
                            label Цвет
                            +fieldRadioInColor('color', 'color1', '', '#fafbfb', true)
                            +fieldRadioInColor('color', 'color2', '', '#c1c1c1', false)
                            +fieldRadioInColor('color', 'color3', '', '#ffefd5', false)
                            +fieldRadioInColor('color', 'color4', '', '#fde910', false)
                            +fieldRadioInColor('color', 'color5', '', '#fabe00', false)
                            +fieldRadioInColor('color', 'color6', '', '#f96', false)
                            +fieldRadioInColor('color', 'color7', '', '#ffc0cb', false)
                            +fieldRadioInColor('color', 'color8', '', '#ff2600', false)
                            +fieldRadioInColor('color', 'color9', '', '#cc1d33', false)
                            +fieldRadioInColor('color', 'color10', '', '#926547', false)
                            +fieldRadioInColor('color', 'color11', '', '#08f', false)
                            +fieldRadioInColor('color', 'color12', '', '#0328cc', false)
                            +fieldRadioInColor('color', 'color13', '', '#96c', false)
                            +fieldRadioInColor('color', 'color14', '', '#35ba2b', false)
                            +fieldRadioInColor('color', 'color15', '', '#8b8b8b', false)
                            +fieldRadioInColor('color', 'color16', '', '#000', false)
                .text--center
                    a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") далее

dist/lk-step-2.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<head>
  <meta charset="utf-8">
  <title>Объявления</title>
  <meta name="description" content="">
  <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/lk.css">
</head>
<body>
  <div id="city-id" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content choose--city">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
          <div class="row">
            <div class="col col-md-3 col-sm-4 col-xs-12">
              <h4>Выберите город</h4>
            </div>
            <div class="col col-md-8 col-sm-6 col-xs-12">
              <form>
                <input id="search" type="search" class="form-control">
              </form>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Москва</a></b></li>
                <li><b><a href="#">Санкт-Петербург</a></b></li>
                <li><b><a href="#">Волгоград</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Екатеринбург</a></b></li>
                <li><b><a href="#">Казань</a></b></li>
                <li><b><a href="#">Краснодар</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Нижний Новгород</a></b></li>
                <li><b><a href="#">Пермь</a></b></li>
                <li><b><a href="#">Ростов-на-Дону</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Самара</a></b></li>
                <li><b><a href="#">Уфа</a></b></li>
                <li><b><a href="#">Челябинск</a></b></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Адыгея</a></li>
                <li><a href="#">Архангельская обл.</a></li>
                <li><a href="#">Астраханская обл.</a></li>
                <li><a href="#">Башкортостан</a></li>
                <li><a href="#">Белгородская обл.</a></li>
                <li><a href="#">Брянская обл.</a></li>
                <li><a href="#">Владимирская обл.</a></li>
                <li><a href="#">Волгоградская обл.</a></li>
                <li><a href="#">Вологодская обл.</a></li>
                <li><a href="#">Воронежская обл.</a></li>
                <li><a href="#">Дагестан</a></li>
                <li><a href="#">Ивановская обл.</a></li>
                <li><a href="#">Ингушетия</a></li>
                <li><a href="#">Кабардино-Балкария</a></li>
                <li><a href="#">Калининградская обл.</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Калмыкия</a></li>
                <li><a href="#">Калужская обл.</a></li>
                <li><a href="#">Карачаево-Черкесия</a></li>
                <li><a href="#">Карелия</a></li>
                <li><a href="#">Кировская обл.</a></li>
                <li><a href="#">Коми</a></li>
                <li><a href="#">Костромская обл.</a></li>
                <li><a href="#">Краснодарский край</a></li>
                <li><a href="#">Крым</a></li>
                <li><a href="#">Курганская обл.</a></li>
                <li><a href="#">Курская обл.</a></li>
                <li><a href="#">Ленинградская обл.</a></li>
                <li><a href="#">Липецкая обл.</a></li>
                <li><a href="#">Марий Эл</a></li>
                <li><a href="#">Мордовия</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Московская обл.</a></li>
                <li><a href="#">Мурманская обл.</a></li>
                <li><a href="#">Ненецкий АО</a></li>
                <li><a href="#">Нижегородская обл.</a></li>
                <li><a href="#">Новгородская обл.</a></li>
                <li><a href="#">Оренбургская обл.</a></li>
                <li><a href="#">Орловская обл.</a></li>
                <li><a href="#">Пензенская обл.</a></li>
                <li><a href="#">Пермский край</a></li>
                <li><a href="#">Псковская обл.</a></li>
                <li><a href="#">Ростовская обл.</a></li>
                <li><a href="#">Рязанская обл.</a></li>
                <li><a href="#">Самарская обл.</a></li>
                <li><a href="#">Саратовская обл.</a></li>
                <li><a href="#">Свердловская обл.</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Северная Осетия</a></li>
                <li><a href="#">Смоленская обл.</a></li>
                <li><a href="#">Ставропольский край</a></li>
                <li><a href="#">Тамбовская обл.</a></li>
                <li><a href="#">Татарстан</a></li>
                <li><a href="#">Тверская обл.</a></li>
                <li><a href="#">Тульская обл.</a></li>
                <li><a href="#">Удмуртия</a></li>
                <li><a href="#">Ульяновская обл.</a></li>
                <li><a href="#">Челябинская обл.</a></li>
                <li><a href="#">Чеченская республика</a></li>
                <li><a href="#">Чувашия</a></li>
                <li><a href="#">Ярославская обл.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="call-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
        <div class="modal-body">
          <div class="col-xs-9 center-block">
            <div class="text--center">
              <h2>Заказать звонок</h2>
              <p class="margtop30 text--lg text--default">Менеджер интернет магазина<br>поможет вам с выбором</p>
            </div>
            <form method="post" role="form" novalidate>
              <div class="form-group">
                <label for="name">Имя*</label>
                <input type="text" name="name" id="name" data-label="Не заполнено поле" required class="form-control">
              </div>
              <div class="form-group">
                <label for="phone">Телефон*</label>
                <input type="text" name="phone" id="phone" data-label="Не заполнено поле" required class="form-control">
              </div>
              <div class="text--center">
                <input type="submit" value="заказать звонок" class="margtop30 btn btn--danger btn--danger-full btn--md text--uppercase">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="send-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
        <div class="modal-body">
          <div class="text--center">
            <h2>Спасибо за заявку</h2>
            <p class="margtop30 text--lg text--default">Наш менеджер свяжемся с вами<br>в ближайшее время</p>
            <button type="button" data-dismiss="modal" aria-hidden="true" class="margtop30 btn btn--danger btn--danger-full btn--md text--uppercase">закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="header-lk">
    <div class="header-top">
      <div class="container">
        <nav>
          <div class="header__items text--center">
            <div class="header__items--elem t10 text--left"><a href="/"><img src="images/logo-lk.png" alt=""></a></div>
            <div class="header__items--elem t20">
              <div class="header__location"><b class="hidden-md hidden-sm hidden-xs text--default">Мой город:&nbsp;</b><a href="#city-id" data-toggle="modal"><span>Санкт-Петербург</span><i class="icon-down-open"></i></a></div>
            </div>
            <div class="header__items--elem t20">
              <div class="header__search"><a href="#"><i class="icon-briefcase"></i><b>Весь каталог объявлений</b></a></div>
            </div>
            <div class="header__items--elem t12">
              <div class="header__balance"><a href="#"><i class="icon-star"></i><span>Избранное(5)</span></a></div>
            </div>
            <div class="header__items--elem header__warn t15">
              <div><a href="#"><i class="icon-plus-squared-alt"></i><span>Подать объявление</span></a></div>
            </div>
            <div class="header__items--elem t12">
              <div><span>Баланс:<a href="#"><b> 1 700 баллов</b></a></span></div>
            </div>
            <div class="header__items--elem t12">
              <div><a href="#"><i class="icon-user"></i>
                  <spa class="text--success">Федоров Иван</spa></a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="header-bottom--lk">
      <div class="container">
        <div class="row">
          <div class="col col-xs-3">
            <p class="text--sm">ID 5694333623</p>
            <p><b>Коробейников Константин<br> Иванович</b></p>
          </div>
          <div class="col col-xs-3">
            <p class="text--sm">ID Доступно к использованию баллов:</p>
            <div class="adv-good__item-price text--primary"><img src="images/icoBall.png" alt=""><b class="text--lg"> 1 700 руб.</b><span class="padleft10 padright10">|</span><b class="text--success text--md"><img src="images/icoMain.png" alt="">Обменять</b></div>
          </div>
          <div class="col col-xs-6 text--right">
            <div class="btn-group text--uppercase"><a href="#" class="active btn btn--warningTrans">мои объявления</a><a href="#" class="btn btn--warningTrans">накопительный баланс</a><a href="#" class="btn btn--warningTrans">пользовательские настройки</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="account">
      <div class="container">
        <h1>Подать объявление</h1>
        <div class="steps">
          <div class="steps__item check">
            <div class="steps__img">1</div>
            <p>Категория товара</p>
          </div>
          <div class="steps__item active">
            <div class="steps__img">2</div>
            <p>Характеристики</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">3</div>
            <p>Описание</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">4</div>
            <p>Фотографии</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">5</div>
            <p>Обмен</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">6</div>
            <p>Контакты</p>
          </div>
        </div>
        <div class="account__step">
          <div class="step__main">
            <div class="text--center">
              <h2>Укажите параметры</h2>
            </div>
            <div class="col-xs-4 center-block">
              <div class="form-group">
                <label>Марка</label>
                <select class="form-control">
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                </select>
              </div>
              <div class="form-group">
                <label>Модель</label>
                <select class="form-control">
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                </select>
              </div>
              <div class="form-group">
                <label>Год выпуска</label>
                <select class="form-control">
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                </select>
              </div>
              <div class="form-group">
                <label>Пробег</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>VIN номер</label>
                <input type="text" placeholder="WVWMN7AN3AE562579" class="form-control">
              </div>
              <div class="form-group">
                <label>Свидетельство о регистрации</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Состояние</label>
                <div class="radio radio-inline">
                  <input type="radio" id="status1" value="Не требует ремонта" name="status">
                  <label for="status1">Не требует ремонта</label>
                </div>
                <div class="radio radio-inline">
                  <input type="radio" id="status2" value="Битый/не на ходу" name="status" checked>
                  <label for="status2">Битый/не на ходу</label>
                </div>
              </div>
            </div>
          </div>
          <div class="step__main">
            <div class="col-xs-4 center-block">
              <div class="form-group">
                <label>Тип двигателя</label>
                <select class="form-control">
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                </select>
              </div>
              <div class="form-group">
                <label>Мощность двигателя</label>
                <select class="form-control">
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                </select>
              </div>
              <div class="form-group">
                <label>Коробка передач</label>
                <select class="form-control">
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                </select>
              </div>
              <div class="form-group">
                <label>Привод</label>
                <select class="form-control">
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                  <option>Не выбрано</option>
                </select>
              </div>
              <div class="form-group">
                <label>Руль</label>
                <div class="radio radio-inline">
                  <input type="radio" id="wheel1" value="Правый" name="wheel">
                  <label for="wheel1">Правый</label>
                </div>
                <div class="radio radio-inline">
                  <input type="radio" id="wheel2" value="Левый" name="wheel" checked>
                  <label for="wheel2">Левый</label>
                </div>
              </div>
            </div>
          </div>
          <div class="step__main step__main--type">
            <div class="col-xs-5 center-block">
              <div class="form-group">
                <label>Тип кузова</label>
                <div class="radio-inline"><img src="../images/body--1.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body1" value="Седан" name="body" checked>
                    <label for="body1">Седан</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--2.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body2" value="Хетчбэк" name="body">
                    <label for="body2">Хетчбэк</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--3.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body3" value="Универсал" name="body">
                    <label for="body3">Универсал</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--4.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body4" value="Внедорожник" name="body">
                    <label for="body4">Внедорожник</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--5.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body5" value="Хетчбэк" name="body">
                    <label for="body5">Хетчбэк</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--6.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body6" value="Пикап" name="body">
                    <label for="body6">Пикап</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--7.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body7" value="Хетчбэк" name="body">
                    <label for="body7">Хетчбэк</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--8.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body8" value="Лимузин" name="body">
                    <label for="body8">Лимузин</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--9.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body9" value="Кабриолет" name="body">
                    <label for="body9">Кабриолет</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--10.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body10" value="Кроссовер" name="body">
                    <label for="body10">Кроссовер</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--11.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body11" value="Микроавтобус" name="body">
                    <label for="body11">Микроавтобус</label>
                  </div>
                </div>
                <div class="radio-inline"><img src="../images/body--12.png" alt="Кузов">
                  <div class="radio">
                    <input type="radio" id="body12" value="Хетчбэк" name="body">
                    <label for="body12">Хетчбэк</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="step__main step__main--color">
            <div class="col-xs-5 center-block">
              <div class="form-group">
                <label>Цвет</label>
                <div class="radio-inline">
                  <div style="background-color:#fafbfb" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color1" name="color" checked>
                    <label for="color1"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#c1c1c1" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color2" name="color">
                    <label for="color2"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#ffefd5" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color3" name="color">
                    <label for="color3"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#fde910" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color4" name="color">
                    <label for="color4"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#fabe00" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color5" name="color">
                    <label for="color5"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#f96" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color6" name="color">
                    <label for="color6"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#ffc0cb" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color7" name="color">
                    <label for="color7"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#ff2600" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color8" name="color">
                    <label for="color8"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#cc1d33" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color9" name="color">
                    <label for="color9"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#926547" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color10" name="color">
                    <label for="color10"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#08f" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color11" name="color">
                    <label for="color11"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#0328cc" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color12" name="color">
                    <label for="color12"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#96c" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color13" name="color">
                    <label for="color13"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#35ba2b" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color14" name="color">
                    <label for="color14"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#8b8b8b" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color15" name="color">
                    <label for="color15"></label>
                  </div>
                </div>
                <div class="radio-inline">
                  <div style="background-color:#000" class="color"></div>
                  <div class="radio">
                    <input type="radio" id="color16" name="color">
                    <label for="color16"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text--center"><a href="#" class="btn btn--success text--uppercase btn--lg btn--long">далее</a></div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="col-lg-9 center-block">
        <div class="row">
          <div class="col col-xs-12 col-lg-3 col-md-3 margbot20"><img src="images/logoFooter.png" alt=""></div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">О компании</a></b></li>
              <li><b><a href="#">Контакты</a></b></li>
              <li><b><a href="#">Сотрудничество</a></b></li>
            </ul>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">Информация</a></b></li>
              <li><a href="#" class="text--sm">Размещение объявлений</a></li>
              <li><a href="#" class="text--sm">Пользовательское соглашение</a></li>
              <li><a href="#" class="text--sm">Пакеты услуг</a></li>
            </ul>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">Реклама на сайте</a></b></li>
              <li><b><a href="#">Помощь</a></b></li>
              <li><b><a href="#">Карта сайта</a></b></li>
            </ul>
          </div>
        </div><a href="wwww.alkodesign.ru" target="_blank" class="visible-sm visible-xs"><img src="images/logoAlco.png" alt=""></a>
        <ul class="list--inline social">
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
          <li><a href="#"><i class="icon-plus-squared-alt"></i></a></li>
        </ul>
        <div class="row">
          <div class="col col-xs-12 col-lg-8 col-md-8">
            <p class="text--sm">Yorby — сайт объявлений России. Использование сайта, в том числе подача объявлений, означает согласие с пользовательским соглашением. Оплачивая услуги на сайте, вы принимаете оферту. Информация о cookies.</p>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-4 pull-right"><a href="wwww.alkodesign.ru" target="_blank" class="hidden-sm hidden-xs"><img src="images/logoAlco.png" alt=""></a>
            <!--a.visible-sm.visible-xs.visible-md(href="wwww.alkodesign.ru", target="_blank"): img(src="images/logoAlkoM.png", alt="")-->
          </div>
        </div>
      </div>
    </div>
  </footer><script src="scripts/vendor.js"></script>
  <script src="scripts/main.js"></script>
</body></html>
