dist/lk-step-8.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<head>
  <meta charset="utf-8">
  <title>Объявления</title>
  <meta name="description" content="">
  <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/lk.css">
</head>
<body>
  <div id="city-id" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content choose--city">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
          <div class="row">
            <div class="col col-md-3 col-sm-4 col-xs-12">
              <h4>Выберите город</h4>
            </div>
            <div class="col col-md-8 col-sm-6 col-xs-12">
              <form>
                <input id="search" type="search" class="form-control">
              </form>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Москва</a></b></li>
                <li><b><a href="#">Санкт-Петербург</a></b></li>
                <li><b><a href="#">Волгоград</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Екатеринбург</a></b></li>
                <li><b><a href="#">Казань</a></b></li>
                <li><b><a href="#">Краснодар</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Нижний Новгород</a></b></li>
                <li><b><a href="#">Пермь</a></b></li>
                <li><b><a href="#">Ростов-на-Дону</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Самара</a></b></li>
                <li><b><a href="#">Уфа</a></b></li>
                <li><b><a href="#">Челябинск</a></b></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Адыгея</a></li>
                <li><a href="#">Архангельская обл.</a></li>
                <li><a href="#">Астраханская обл.</a></li>
                <li><a href="#">Башкортостан</a></li>
                <li><a href="#">Белгородская обл.</a></li>
                <li><a href="#">Брянская обл.</a></li>
                <li><a href="#">Владимирская обл.</a></li>
                <li><a href="#">Волгоградская обл.</a></li>
                <li><a href="#">Вологодская обл.</a></li>
                <li><a href="#">Воронежская обл.</a></li>
                <li><a href="#">Дагестан</a></li>
                <li><a href="#">Ивановская обл.</a></li>
                <li><a href="#">Ингушетия</a></li>
                <li><a href="#">Кабардино-Балкария</a></li>
                <li><a href="#">Калининградская обл.</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Калмыкия</a></li>
                <li><a href="#">Калужская обл.</a></li>
                <li><a href="#">Карачаево-Черкесия</a></li>
                <li><a href="#">Карелия</a></li>
                <li><a href="#">Кировская обл.</a></li>
                <li><a href="#">Коми</a></li>
                <li><a href="#">Костромская обл.</a></li>
                <li><a href="#">Краснодарский край</a></li>
                <li><a href="#">Крым</a></li>
                <li><a href="#">Курганская обл.</a></li>
                <li><a href="#">Курская обл.</a></li>
                <li><a href="#">Ленинградская обл.</a></li>
                <li><a href="#">Липецкая обл.</a></li>
                <li><a href="#">Марий Эл</a></li>
                <li><a href="#">Мордовия</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Московская обл.</a></li>
                <li><a href="#">Мурманская обл.</a></li>
                <li><a href="#">Ненецкий АО</a></li>
                <li><a href="#">Нижегородская обл.</a></li>
                <li><a href="#">Новгородская обл.</a></li>
                <li><a href="#">Оренбургская обл.</a></li>
                <li><a href="#">Орловская обл.</a></li>
                <li><a href="#">Пензенская обл.</a></li>
                <li><a href="#">Пермский край</a></li>
                <li><a href="#">Псковская обл.</a></li>
                <li><a href="#">Ростовская обл.</a></li>
                <li><a href="#">Рязанская обл.</a></li>
                <li><a href="#">Самарская обл.</a></li>
                <li><a href="#">Саратовская обл.</a></li>
                <li><a href="#">Свердловская обл.</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Северная Осетия</a></li>
                <li><a href="#">Смоленская обл.</a></li>
                <li><a href="#">Ставропольский край</a></li>
                <li><a href="#">Тамбовская обл.</a></li>
                <li><a href="#">Татарстан</a></li>
                <li><a href="#">Тверская обл.</a></li>
                <li><a href="#">Тульская обл.</a></li>
                <li><a href="#">Удмуртия</a></li>
                <li><a href="#">Ульяновская обл.</a></li>
                <li><a href="#">Челябинская обл.</a></li>
                <li><a href="#">Чеченская республика</a></li>
                <li><a href="#">Чувашия</a></li>
                <li><a href="#">Ярославская обл.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="call-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
        <div class="modal-body">
          <div class="col-xs-9 center-block">
            <div class="text--center">
              <h2>Заказать звонок</h2>
              <p class="margtop30 text--lg text--default">Менеджер интернет магазина<br>поможет вам с выбором</p>
            </div>
            <form method="post" role="form" novalidate>
              <div class="form-group">
                <label for="name">Имя*</label>
                <input type="text" name="name" id="name" data-label="Не заполнено поле" required class="form-control">
              </div>
              <div class="form-group">
                <label for="phone">Телефон*</label>
                <input type="text" name="phone" id="phone" data-label="Не заполнено поле" required class="form-control">
              </div>
              <div class="text--center">
                <input type="submit" value="заказать звонок" class="margtop30 btn btn--danger btn--danger-full btn--md text--uppercase">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="send-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
        <div class="modal-body">
          <div class="text--center">
            <h2>Спасибо за заявку</h2>
            <p class="margtop30 text--lg text--default">Наш менеджер свяжемся с вами<br>в ближайшее время</p>
            <button type="button" data-dismiss="modal" aria-hidden="true" class="margtop30 btn btn--danger btn--danger-full btn--md text--uppercase">закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="header-lk">
    <div class="header-top">
      <div class="container">
        <nav>
          <div class="header__items text--center">
            <div class="header__items--elem t10 text--left"><a href="/"><img src="images/logo-lk.png" alt=""></a></div>
            <div class="header__items--elem t20">
              <div class="header__location"><b class="hidden-md hidden-sm hidden-xs text--default">Мой город:&nbsp;</b><a href="#city-id" data-toggle="modal"><span>Санкт-Петербург</span><i class="icon-down-open"></i></a></div>
            </div>
            <div class="header__items--elem t20">
              <div class="header__search"><a href="#"><i class="icon-briefcase"></i><b>Весь каталог объявлений</b></a></div>
            </div>
            <div class="header__items--elem t12">
              <div class="header__balance"><a href="#"><i class="icon-star"></i><span>Избранное(5)</span></a></div>
            </div>
            <div class="header__items--elem header__warn t15">
              <div><a href="#"><i class="icon-plus-squared-alt"></i><span>Подать объявление</span></a></div>
            </div>
            <div class="header__items--elem t12">
              <div><span>Баланс:<a href="#"><b> 1 700 баллов</b></a></span></div>
            </div>
            <div class="header__items--elem t12">
              <div><a href="#"><i class="icon-user"></i>
                  <spa class="text--success">Федоров Иван</spa></a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="header-bottom--lk">
      <div class="container">
        <div class="row">
          <div class="col col-xs-3">
            <p class="text--sm">ID 5694333623</p>
            <p><b>Коробейников Константин<br> Иванович</b></p>
          </div>
          <div class="col col-xs-3">
            <p class="text--sm">ID Доступно к использованию баллов:</p>
            <div class="adv-good__item-price text--primary"><img src="images/icoBall.png" alt=""><b class="text--lg"> 1 700 руб.</b><span class="padleft10 padright10">|</span><b class="text--success text--md"><img src="images/icoMain.png" alt="">Обменять</b></div>
          </div>
          <div class="col col-xs-6 text--right">
            <div class="btn-group text--uppercase"><a href="#" class="active btn btn--warningTrans">мои объявления</a><a href="#" class="btn btn--warningTrans">накопительный баланс</a><a href="#" class="btn btn--warningTrans">пользовательские настройки</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="account">
      <div class="container">
        <h1>Объявление № 123569 размещено</h1>
        <p>Объявление<b class="text--success"> № 123569 Бежевые кроссовки Reebok нат. замша (36-41)</b> будет активно после прохождения модерации..</p>
        <div class="account__step"><a href="#" class="adv-good__item">
            <div class="row">
              <div class="col col-xs-2">
                <div class="adv-good__item-img"><img src="images/user-img-1.jpg" alt=""></div>
              </div>
              <div class="col col-xs-8">
                <div class="adv-good__body">
                  <div class="text--sm adv-good__item-sec"><img src="images/metroIcoB.png" alt="" class="ico"> Озерки</div>
                  <div class="adv-good__item-title">
                    <h3>Бежевые кроссовки Reebok нат. замша (36-41)</h3>
                  </div>
                  <div class="adv-good__item-price text--primary"><span class="text--sm">Цена:</span><b class="text--lg"> 3 500 руб.</b></div><span class="text--success text--sm">Одежда, обувь, аксессуары</span>
                </div>
              </div>
              <div class="col col-xs-2 text--right">
                <p class="text--default text--sm">Сегодня 17:41</p>
              </div>
            </div>
            <div class="adv-good__item-step"><img src="images/prod-check.png" alt="" class="ico"></div></a>
          <div class="text--center"><a href="#" class="btn btn--successLine">Вернуться в объявления</a></div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="col-lg-9 center-block">
        <div class="row">
          <div class="col col-xs-12 col-lg-3 col-md-3 margbot20"><img src="images/logoFooter.png" alt=""></div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">О компании</a></b></li>
              <li><b><a href="#">Контакты</a></b></li>
              <li><b><a href="#">Сотрудничество</a></b></li>
            </ul>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">Информация</a></b></li>
              <li><a href="#" class="text--sm">Размещение объявлений</a></li>
              <li><a href="#" class="text--sm">Пользовательское соглашение</a></li>
              <li><a href="#" class="text--sm">Пакеты услуг</a></li>
            </ul>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">Реклама на сайте</a></b></li>
              <li><b><a href="#">Помощь</a></b></li>
              <li><b><a href="#">Карта сайта</a></b></li>
            </ul>
          </div>
        </div><a href="wwww.alkodesign.ru" target="_blank" class="visible-sm visible-xs"><img src="images/logoAlco.png" alt=""></a>
        <ul class="list--inline social">
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
          <li><a href="#"><i class="icon-plus-squared-alt"></i></a></li>
        </ul>
        <div class="row">
          <div class="col col-xs-12 col-lg-8 col-md-8">
            <p class="text--sm">Yorby — сайт объявлений России. Использование сайта, в том числе подача объявлений, означает согласие с пользовательским соглашением. Оплачивая услуги на сайте, вы принимаете оферту. Информация о cookies.</p>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-4 pull-right"><a href="wwww.alkodesign.ru" target="_blank" class="hidden-sm hidden-xs"><img src="images/logoAlco.png" alt=""></a>
            <!--a.visible-sm.visible-xs.visible-md(href="wwww.alkodesign.ru", target="_blank"): img(src="images/logoAlkoM.png", alt="")-->
          </div>
        </div>
      </div>
    </div>
  </footer><script src="scripts/vendor.js"></script>
  <script src="scripts/main.js"></script>
</body></html>

app/views/lk-step-8.jade
extends layouts/_default-lk

block content
    - var title = { description: 'Объявление № 123569 размещено' }
    section.account
        .container
            h1= title.description
            p Объявление
                b.text--success  № 123569 Бежевые кроссовки Reebok нат. замша (36-41)
                |  будет активно после прохождения модерации..
            .account__step
                a(href="#").adv-good__item
                    .row
                        .col.col-xs-2
                            .adv-good__item-img
                                img(src="images/user-img-1.jpg", alt="")
                        .col.col-xs-8
                            .adv-good__body
                                .text--sm.adv-good__item-sec
                                    img.ico(src="images/metroIcoB.png", alt="")
                                    |  Озерки
                                .adv-good__item-title
                                    h3 Бежевые кроссовки Reebok нат. замша (36-41)
                                .adv-good__item-price.text--primary
                                    span.text--sm Цена:
                                    b.text--lg  3 500 руб.
                                span.text--success.text--sm Одежда, обувь, аксессуары
                        .col.col-xs-2.text--right
                            p.text--default.text--sm Сегодня 17:41
                    .adv-good__item-step
                        img.ico(src="images/prod-check.png", alt="")
                .text--center
                    a.btn.btn--successLine(href="#") Вернуться в объявления
