dist/lk-step-1.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<head>
  <meta charset="utf-8">
  <title>Объявления</title>
  <meta name="description" content="">
  <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/lk.css">
</head>
<body>
  <div id="city-id" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content choose--city">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
          <div class="row">
            <div class="col col-md-3 col-sm-4 col-xs-12">
              <h4>Выберите город</h4>
            </div>
            <div class="col col-md-8 col-sm-6 col-xs-12">
              <form>
                <input id="search" type="search" class="form-control">
              </form>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Москва</a></b></li>
                <li><b><a href="#">Санкт-Петербург</a></b></li>
                <li><b><a href="#">Волгоград</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Екатеринбург</a></b></li>
                <li><b><a href="#">Казань</a></b></li>
                <li><b><a href="#">Краснодар</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Нижний Новгород</a></b></li>
                <li><b><a href="#">Пермь</a></b></li>
                <li><b><a href="#">Ростов-на-Дону</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Самара</a></b></li>
                <li><b><a href="#">Уфа</a></b></li>
                <li><b><a href="#">Челябинск</a></b></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Адыгея</a></li>
                <li><a href="#">Архангельская обл.</a></li>
                <li><a href="#">Астраханская обл.</a></li>
                <li><a href="#">Башкортостан</a></li>
                <li><a href="#">Белгородская обл.</a></li>
                <li><a href="#">Брянская обл.</a></li>
                <li><a href="#">Владимирская обл.</a></li>
                <li><a href="#">Волгоградская обл.</a></li>
                <li><a href="#">Вологодская обл.</a></li>
                <li><a href="#">Воронежская обл.</a></li>
                <li><a href="#">Дагестан</a></li>
                <li><a href="#">Ивановская обл.</a></li>
                <li><a href="#">Ингушетия</a></li>
                <li><a href="#">Кабардино-Балкария</a></li>
                <li><a href="#">Калининградская обл.</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Калмыкия</a></li>
                <li><a href="#">Калужская обл.</a></li>
                <li><a href="#">Карачаево-Черкесия</a></li>
                <li><a href="#">Карелия</a></li>
                <li><a href="#">Кировская обл.</a></li>
                <li><a href="#">Коми</a></li>
                <li><a href="#">Костромская обл.</a></li>
                <li><a href="#">Краснодарский край</a></li>
                <li><a href="#">Крым</a></li>
                <li><a href="#">Курганская обл.</a></li>
                <li><a href="#">Курская обл.</a></li>
                <li><a href="#">Ленинградская обл.</a></li>
                <li><a href="#">Липецкая обл.</a></li>
                <li><a href="#">Марий Эл</a></li>
                <li><a href="#">Мордовия</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Московская обл.</a></li>
                <li><a href="#">Мурманская обл.</a></li>
                <li><a href="#">Ненецкий АО</a></li>
                <li><a href="#">Нижегородская обл.</a></li>
                <li><a href="#">Новгородская обл.</a></li>
                <li><a href="#">Оренбургская обл.</a></li>
                <li><a href="#">Орловская обл.</a></li>
                <li><a href="#">Пензенская обл.</a></li>
                <li><a href="#">Пермский край</a></li>
                <li><a href="#">Псковская обл.</a></li>
                <li><a href="#">Ростовская обл.</a></li>
                <li><a href="#">Рязанская обл.</a></li>
                <li><a href="#">Самарская обл.</a></li>
                <li><a href="#">Саратовская обл.</a></li>
                <li><a href="#">Свердловская обл.</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Северная Осетия</a></li>
                <li><a href="#">Смоленская обл.</a></li>
                <li><a href="#">Ставропольский край</a></li>
                <li><a href="#">Тамбовская обл.</a></li>
                <li><a href="#">Татарстан</a></li>
                <li><a href="#">Тверская обл.</a></li>
                <li><a href="#">Тульская обл.</a></li>
                <li><a href="#">Удмуртия</a></li>
                <li><a href="#">Ульяновская обл.</a></li>
                <li><a href="#">Челябинская обл.</a></li>
                <li><a href="#">Чеченская республика</a></li>
                <li><a href="#">Чувашия</a></li>
                <li><a href="#">Ярославская обл.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="call-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
        <div class="modal-body">
          <div class="col-xs-9 center-block">
            <div class="text--center">
              <h2>Заказать звонок</h2>
              <p class="margtop30 text--lg text--default">Менеджер интернет магазина<br>поможет вам с выбором</p>
            </div>
            <form method="post" role="form" novalidate>
              <div class="form-group">
                <label for="name">Имя*</label>
                <input type="text" name="name" id="name" data-label="Не заполнено поле" required class="form-control">
              </div>
              <div class="form-group">
                <label for="phone">Телефон*</label>
                <input type="text" name="phone" id="phone" data-label="Не заполнено поле" required class="form-control">
              </div>
              <div class="text--center">
                <input type="submit" value="заказать звонок" class="margtop30 btn btn--danger btn--danger-full btn--md text--uppercase">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="send-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
        <div class="modal-body">
          <div class="text--center">
            <h2>Спасибо за заявку</h2>
            <p class="margtop30 text--lg text--default">Наш менеджер свяжемся с вами<br>в ближайшее время</p>
            <button type="button" data-dismiss="modal" aria-hidden="true" class="margtop30 btn btn--danger btn--danger-full btn--md text--uppercase">закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="header-lk">
    <div class="header-top">
      <div class="container">
        <nav>
          <div class="header__items text--center">
            <div class="header__items--elem t10 text--left"><a href="/"><img src="images/logo-lk.png" alt=""></a></div>
            <div class="header__items--elem t20">
              <div class="header__location"><b class="hidden-md hidden-sm hidden-xs text--default">Мой город:&nbsp;</b><a href="#city-id" data-toggle="modal"><span>Санкт-Петербург</span><i class="icon-down-open"></i></a></div>
            </div>
            <div class="header__items--elem t20">
              <div class="header__search"><a href="#"><i class="icon-briefcase"></i><b>Весь каталог объявлений</b></a></div>
            </div>
            <div class="header__items--elem t12">
              <div class="header__balance"><a href="#"><i class="icon-star"></i><span>Избранное(5)</span></a></div>
            </div>
            <div class="header__items--elem header__warn t15">
              <div><a href="#"><i class="icon-plus-squared-alt"></i><span>Подать объявление</span></a></div>
            </div>
            <div class="header__items--elem t12">
              <div><span>Баланс:<a href="#"><b> 1 700 баллов</b></a></span></div>
            </div>
            <div class="header__items--elem t12">
              <div><a href="#"><i class="icon-user"></i>
                  <spa class="text--success">Федоров Иван</spa></a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="header-bottom--lk">
      <div class="container">
        <div class="row">
          <div class="col col-xs-3">
            <p class="text--sm">ID 5694333623</p>
            <p><b>Коробейников Константин<br> Иванович</b></p>
          </div>
          <div class="col col-xs-3">
            <p class="text--sm">ID Доступно к использованию баллов:</p>
            <div class="adv-good__item-price text--primary"><img src="images/icoBall.png" alt=""><b class="text--lg"> 1 700 руб.</b><span class="padleft10 padright10">|</span><b class="text--success text--md"><img src="images/icoMain.png" alt="">Обменять</b></div>
          </div>
          <div class="col col-xs-6 text--right">
            <div class="btn-group text--uppercase"><a href="#" class="active btn btn--warningTrans">мои объявления</a><a href="#" class="btn btn--warningTrans">накопительный баланс</a><a href="#" class="btn btn--warningTrans">пользовательские настройки</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="account">
      <div class="container">
        <h1>Подать объявление</h1>
        <div class="steps">
          <div class="steps__item active">
            <div class="steps__img">1</div>
            <p>Категория товара</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">2</div>
            <p>Характеристики</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">3</div>
            <p>Описание</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">4</div>
            <p>Фотографии</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">5</div>
            <p>Обмен</p>
          </div>
          <div class="steps__item">
            <div class="steps__img">6</div>
            <p>Контакты</p>
          </div>
        </div>
        <div class="account__step">
          <div class="step__main">
            <h2>Выберите категорию</h2>
            <div class="row">
              <div class="col col-xs-4">
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat1" value="category1" name="Личные вещи">
                    <label for="cat1">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat2" value="category2" name="Транспорт">
                    <label for="cat2">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat3" value="category3" name="Хобби и отдых">
                    <label for="cat3">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat4" value="category4" name="Для дома и дачи">
                    <label for="cat4">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat5" value="category5" name="Электроника и техника">
                    <label for="cat5">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat6" value="category6" name="Для бизнеса">
                    <label for="cat6">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat7" value="category7" name="Услуги">
                    <label for="cat7">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat8" value="category8" name="Недвижимость">
                    <label for="cat8">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat9" value="category9" name="Работа">
                    <label for="cat9">category</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <input type="radio" id="cat10" value="category10" name="Животные и растения">
                    <label for="cat10">category</label>
                  </div>
                </div>
              </div>
              <div class="col col-xs-4">
                <div id="category1" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat1" value="subcategory1" name="Автомобили">
                      <label for="subcat1">subcategory</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat2" value="subcategory2" name="Мотоциклы и мототехника">
                      <label for="subcat2">subcategory</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat3" value="subcategory3" name="Грузовики и спецтехника">
                      <label for="subcat3">subcategory</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat4" value="subcategory4" name="Водный транспорт">
                      <label for="subcat4">subcategory</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat5" value="subcategory5" name="Запчасти и аксессуары">
                      <label for="subcat5">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category2" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat11" value="subcategory11" name="Автомобили1">
                      <label for="subcat11">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category3" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat12" value="subcategory12" name="Автомобили2">
                      <label for="subcat12">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category4" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat13" value="subcategory13" name="Автомобили3">
                      <label for="subcat13">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category5" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat14" value="subcategory14" name="Автомобили4">
                      <label for="subcat14">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category6" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat15" value="subcategory15" name="Автомобили5">
                      <label for="subcat15">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category7" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat16" value="subcategory16" name="Автомобили6">
                      <label for="subcat16">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category8" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat17" value="subcategory17" name="Автомобили7">
                      <label for="subcat17">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category9" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat18" value="subcategory18" name="Автомобили8">
                      <label for="subcat18">subcategory</label>
                    </div>
                  </div>
                </div>
                <div id="category10" class="desc">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" id="subcat19" value="subcategory19" name="Автомобили9">
                      <label for="subcat19">subcategory</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text--center"><a href="#" class="btn btn--success text--uppercase btn--lg btn--long">далее</a></div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="col-lg-9 center-block">
        <div class="row">
          <div class="col col-xs-12 col-lg-3 col-md-3 margbot20"><img src="images/logoFooter.png" alt=""></div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">О компании</a></b></li>
              <li><b><a href="#">Контакты</a></b></li>
              <li><b><a href="#">Сотрудничество</a></b></li>
            </ul>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">Информация</a></b></li>
              <li><a href="#" class="text--sm">Размещение объявлений</a></li>
              <li><a href="#" class="text--sm">Пользовательское соглашение</a></li>
              <li><a href="#" class="text--sm">Пакеты услуг</a></li>
            </ul>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">Реклама на сайте</a></b></li>
              <li><b><a href="#">Помощь</a></b></li>
              <li><b><a href="#">Карта сайта</a></b></li>
            </ul>
          </div>
        </div><a href="wwww.alkodesign.ru" target="_blank" class="visible-sm visible-xs"><img src="images/logoAlco.png" alt=""></a>
        <ul class="list--inline social">
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
          <li><a href="#"><i class="icon-plus-squared-alt"></i></a></li>
        </ul>
        <div class="row">
          <div class="col col-xs-12 col-lg-8 col-md-8">
            <p class="text--sm">Yorby — сайт объявлений России. Использование сайта, в том числе подача объявлений, означает согласие с пользовательским соглашением. Оплачивая услуги на сайте, вы принимаете оферту. Информация о cookies.</p>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-4 pull-right"><a href="wwww.alkodesign.ru" target="_blank" class="hidden-sm hidden-xs"><img src="images/logoAlco.png" alt=""></a>
            <!--a.visible-sm.visible-xs.visible-md(href="wwww.alkodesign.ru", target="_blank"): img(src="images/logoAlkoM.png", alt="")-->
          </div>
        </div>
      </div>
    </div>
  </footer><script src="scripts/vendor.js"></script>
  <script src="scripts/main.js"></script>
</body></html>

app/views/lk-step-1.jade
extends layouts/_default-lk

block content
    - var title = { description: 'Подать объявление' }
    section.account
        .container
            h1= title.description
            .steps
                .steps__item.active
                    .steps__img 1
                    p Категория товара
                .steps__item
                    .steps__img 2
                    p Характеристики
                .steps__item
                    .steps__img 3
                    p Описание
                .steps__item
                    .steps__img 4
                    p Фотографии
                .steps__item
                    .steps__img 5
                    p Обмен
                .steps__item
                    .steps__img 6
                    p Контакты
            .account__step
                .step__main
                    h2 Выберите категорию
                    .row
                        .col.col-xs-4
                            .form-group: +fieldRadio('Личные вещи', 'cat1', 'category1', 'category', false)
                            .form-group: +fieldRadio('Транспорт', 'cat2', 'category2', 'category', false)
                            .form-group: +fieldRadio('Хобби и отдых', 'cat3', 'category3', 'category', false)
                            .form-group: +fieldRadio('Для дома и дачи', 'cat4', 'category4', 'category', false)
                            .form-group: +fieldRadio('Электроника и техника', 'cat5', 'category5', 'category', false)
                            .form-group: +fieldRadio('Для бизнеса', 'cat6', 'category6', 'category', false)
                            .form-group: +fieldRadio('Услуги', 'cat7', 'category7', 'category', false)
                            .form-group: +fieldRadio('Недвижимость', 'cat8', 'category8', 'category', false)
                            .form-group: +fieldRadio('Работа', 'cat9', 'category9', 'category', false)
                            .form-group: +fieldRadio('Животные и растения', 'cat10', 'category10', 'category', false)
                        .col.col-xs-4
                            #category1.desc
                                .form-group: +fieldRadio('Автомобили', 'subcat1', 'subcategory1', 'subcategory', false)
                                .form-group: +fieldRadio('Мотоциклы и мототехника', 'subcat2', 'subcategory2', 'subcategory', false)
                                .form-group: +fieldRadio('Грузовики и спецтехника', 'subcat3', 'subcategory3', 'subcategory', false)
                                .form-group: +fieldRadio('Водный транспорт', 'subcat4', 'subcategory4', 'subcategory', false)
                                .form-group: +fieldRadio('Запчасти и аксессуары', 'subcat5', 'subcategory5', 'subcategory', false)
                            #category2.desc
                                .form-group: +fieldRadio('Автомобили1', 'subcat11', 'subcategory11', 'subcategory', false)
                            #category3.desc
                                .form-group: +fieldRadio('Автомобили2', 'subcat12', 'subcategory12', 'subcategory', false)
                            #category4.desc
                                .form-group: +fieldRadio('Автомобили3', 'subcat13', 'subcategory13', 'subcategory', false)
                            #category5.desc
                                .form-group: +fieldRadio('Автомобили4', 'subcat14', 'subcategory14', 'subcategory', false)
                            #category6.desc
                                .form-group: +fieldRadio('Автомобили5', 'subcat15', 'subcategory15', 'subcategory', false)
                            #category7.desc
                                .form-group: +fieldRadio('Автомобили6', 'subcat16', 'subcategory16', 'subcategory', false)
                            #category8.desc
                                .form-group: +fieldRadio('Автомобили7', 'subcat17', 'subcategory17', 'subcategory', false)
                            #category9.desc
                                .form-group: +fieldRadio('Автомобили8', 'subcat18', 'subcategory18', 'subcategory', false)
                            #category10.desc
                                .form-group: +fieldRadio('Автомобили9', 'subcat19', 'subcategory19', 'subcategory', false)
                .text--center
                    a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") далее
