app/views/reg.jade
extends layouts/_default

block content
    - var title = { description: 'Регистрация' }
    section.authFormBlock
        .container
            .text--center
                h1= title.description
                .col-xlg-4.col-lg-5.col-md-6.center-block
                    ul.nav.nav-btn(role='tablist')
                        li.active
                            a(href='#tab1', role='tab', data-toggle='tab') Частное лицо
                        li
                            a(href='#tab2', role='tab', data-toggle='tab') компания
                    .tab-content
                        #tab1.active.tab-pane.fade.in
                            form
                                .form-group
                                    input.form-control(placeholder="Ваше имя", type="text")
                                .form-group
                                    input.form-control(placeholder="E-mail", type="email")
                                .form-group
                                    input.form-control(placeholder="Телефон", name="phone", type="text")
                                .form-group
                                    input.form-control(placeholder="Пароль", type="password")
                                .form-group
                                    input.form-control(placeholder="Повторите пароль", type="password")
                                .form-group
                                    .row
                                        .col.col-lg-5.col-xs-6
                                            input.form-control(type="text")
                                        .col.col-lg-4.col-xs-6
                                            img(src="images/captcha.jpg", alt="")
                                        .col.col-lg-3.col-xs-12
                                            label: a(href="#") Обновить
                                .form-group
                                    input.btn.btn--success.text--uppercase.btn--lg(value="зарегистрироваться", type="submit")
                                .text--left
                                    .form-group
                                        p.text--sm Регистрируясь, я подтверждаю своё согласие с условиями&nbsp;
                                            span
                                            a(href="#") пользовательского соглашения
                                    p.text--md У вас уже есть аккаунт? &nbsp;
                                        a(href="#"): b Войти
                        #tab2.tab-pane.fade
                            form
                                .form-group
                                    input.form-control(placeholder="Название компании", type="text")
                                .form-group
                                    input.form-control(placeholder="Контактное лицо (рекомендуется)", type="text")
                                .form-group
                                    input.form-control(placeholder="E-mail", type="email")
                                .form-group
                                    input.form-control(placeholder="Телефон", name="phone", type="text")
                                .form-group
                                    input.form-control(placeholder="Пароль", type="password")
                                .form-group
                                    input.form-control(placeholder="Повторите пароль", type="password")
                                .form-group
                                    .row
                                        .col.col-lg-5.col-xs-6
                                            input.form-control(type="text")
                                        .col.col-lg-4.col-xs-6
                                            img(src="images/captcha.jpg", alt="")
                                        .col.col-lg-3.col-xs-12
                                            label: a(href="#") Обновить
                                .form-group
                                    input.btn.btn--success.text--uppercase.btn--lg(value="зарегистрироваться", type="submit")
                                .text--left
                                    .form-group
                                        p.text--sm Регистрируясь, я подтверждаю своё согласие с условиями&nbsp;
                                            span
                                            a(href="#") пользовательского соглашения
                                    p.text--md У вас уже есть аккаунт? &nbsp;
                                        a(href="#"): b Войти

dist/reg.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<head>
  <meta charset="utf-8">
  <title>Объявления</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div id="city-id" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content choose--city">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
          <div class="row">
            <div class="col col-md-3 col-sm-4 col-xs-12">
              <h4>Выберите город</h4>
            </div>
            <div class="col col-md-8 col-sm-6 col-xs-12">
              <form>
                <input id="search" type="search" class="form-control">
              </form>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Москва</a></b></li>
                <li><b><a href="#">Санкт-Петербург</a></b></li>
                <li><b><a href="#">Волгоград</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Екатеринбург</a></b></li>
                <li><b><a href="#">Казань</a></b></li>
                <li><b><a href="#">Краснодар</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Нижний Новгород</a></b></li>
                <li><b><a href="#">Пермь</a></b></li>
                <li><b><a href="#">Ростов-на-Дону</a></b></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><b><a href="#">Самара</a></b></li>
                <li><b><a href="#">Уфа</a></b></li>
                <li><b><a href="#">Челябинск</a></b></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Адыгея</a></li>
                <li><a href="#">Архангельская обл.</a></li>
                <li><a href="#">Астраханская обл.</a></li>
                <li><a href="#">Башкортостан</a></li>
                <li><a href="#">Белгородская обл.</a></li>
                <li><a href="#">Брянская обл.</a></li>
                <li><a href="#">Владимирская обл.</a></li>
                <li><a href="#">Волгоградская обл.</a></li>
                <li><a href="#">Вологодская обл.</a></li>
                <li><a href="#">Воронежская обл.</a></li>
                <li><a href="#">Дагестан</a></li>
                <li><a href="#">Ивановская обл.</a></li>
                <li><a href="#">Ингушетия</a></li>
                <li><a href="#">Кабардино-Балкария</a></li>
                <li><a href="#">Калининградская обл.</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Калмыкия</a></li>
                <li><a href="#">Калужская обл.</a></li>
                <li><a href="#">Карачаево-Черкесия</a></li>
                <li><a href="#">Карелия</a></li>
                <li><a href="#">Кировская обл.</a></li>
                <li><a href="#">Коми</a></li>
                <li><a href="#">Костромская обл.</a></li>
                <li><a href="#">Краснодарский край</a></li>
                <li><a href="#">Крым</a></li>
                <li><a href="#">Курганская обл.</a></li>
                <li><a href="#">Курская обл.</a></li>
                <li><a href="#">Ленинградская обл.</a></li>
                <li><a href="#">Липецкая обл.</a></li>
                <li><a href="#">Марий Эл</a></li>
                <li><a href="#">Мордовия</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Московская обл.</a></li>
                <li><a href="#">Мурманская обл.</a></li>
                <li><a href="#">Ненецкий АО</a></li>
                <li><a href="#">Нижегородская обл.</a></li>
                <li><a href="#">Новгородская обл.</a></li>
                <li><a href="#">Оренбургская обл.</a></li>
                <li><a href="#">Орловская обл.</a></li>
                <li><a href="#">Пензенская обл.</a></li>
                <li><a href="#">Пермский край</a></li>
                <li><a href="#">Псковская обл.</a></li>
                <li><a href="#">Ростовская обл.</a></li>
                <li><a href="#">Рязанская обл.</a></li>
                <li><a href="#">Самарская обл.</a></li>
                <li><a href="#">Саратовская обл.</a></li>
                <li><a href="#">Свердловская обл.</a></li>
              </ul>
            </div>
            <div class="col col-sm-3 col-xs-6">
              <ul class="list--unstyled">
                <li><a href="#">Северная Осетия</a></li>
                <li><a href="#">Смоленская обл.</a></li>
                <li><a href="#">Ставропольский край</a></li>
                <li><a href="#">Тамбовская обл.</a></li>
                <li><a href="#">Татарстан</a></li>
                <li><a href="#">Тверская обл.</a></li>
                <li><a href="#">Тульская обл.</a></li>
                <li><a href="#">Удмуртия</a></li>
                <li><a href="#">Ульяновская обл.</a></li>
                <li><a href="#">Челябинская обл.</a></li>
                <li><a href="#">Чеченская республика</a></li>
                <li><a href="#">Чувашия</a></li>
                <li><a href="#">Ярославская обл.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="call-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
        <div class="modal-body">
          <div class="col-xs-9 center-block">
            <div class="text--center">
              <h2>Заказать звонок</h2>
              <p class="margtop30 text--lg text--default">Менеджер интернет магазина<br>поможет вам с выбором</p>
            </div>
            <form method="post" role="form" novalidate>
              <div class="form-group">
                <label for="name">Имя*</label>
                <input type="text" name="name" id="name" data-label="Не заполнено поле" required class="form-control">
              </div>
              <div class="form-group">
                <label for="phone">Телефон*</label>
                <input type="text" name="phone" id="phone" data-label="Не заполнено поле" required class="form-control">
              </div>
              <div class="text--center">
                <input type="submit" value="заказать звонок" class="margtop30 btn btn--danger btn--danger-full btn--md text--uppercase">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="send-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close.png" alt=""></button>
        <div class="modal-body">
          <div class="text--center">
            <h2>Спасибо за заявку</h2>
            <p class="margtop30 text--lg text--default">Наш менеджер свяжемся с вами<br>в ближайшее время</p>
            <button type="button" data-dismiss="modal" aria-hidden="true" class="margtop30 btn btn--danger btn--danger-full btn--md text--uppercase">закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="header">
    <div class="header-top">
      <div class="container">
        <nav>
          <div class="header__items text--center visible-sm visible-xs">
            <div>
              <div class="header__items--elem col-xs-4"><a href="/"><img src="images/logo-mobile.png" alt=""></a></div>
              <div class="header__items--elem col-xs-7">
                <div class="header__search"><a href="#" class="btn btn--success btn--br0"><i class="icon-plus-squared-alt"></i><span>Подать объявление</span></a></div>
              </div>
            </div>
            <div class="grey">
              <div class="header__items--elem t10">
                <div data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    <li class="pull-right headerClose"><a href="#" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="icon-cancel"></i></a></li>
                    <li class="headerNav"><a href="#"><i class="icon-menu"></i> Меню</a></li>
                    <li class="active"><a href="#"><i class="icon-location"></i> Санкт-Петербург</a></li>
                    <li class="active"><a href="#"><i class="icon-briefcase"></i> Весь каталог объявлений</a></li>
                    <li class="active"><a href="#"><i class="icon-star"></i> Избранное</a></li>
                  </ul>
                </div>
              </div>
              <div class="header__items--elem t40">
                <div class="header__balance"><a href="#"><i class="icon-star"></i><span>Избранное(5)</span></a></div>
              </div>
              <div class="header__items--elem t40">
                <div><a href="#"><i class="icon-user"></i><span>Личный кабинет</span></a></div>
              </div>
            </div>
            <div>
              <div class="header__location padtop10 padbot10"><a href="#city-id" data-toggle="modal" class="btn btn--grey"><span class="text--default">Мой город:</span> Санкт-Петербург</a></div>
            </div>
          </div>
          <div class="header__items text--center hidden-sm hidden-xs">
            <div class="header__items--elem t20">
              <div class="header__location"><b class="hidden-md hidden-sm hidden-xs text--default">Мой город:&nbsp;</b><a href="#city-id" data-toggle="modal"><span>Санкт-Петербург</span><i class="icon-down-open"></i></a>
                <!--b.hidden-md.hidden-sm.hidden-xs Мой город:-->
                <!--select.form-control-->
                <!--    option Санкт-Петербург-->
                <!--    option Санкт-Петербург-->
                <!--    option Санкт-Петербург-->
                <!--    option Санкт-Петербург-->
              </div>
            </div>
            <div class="header__items--elem t30">
              <div class="header__search"><a href="#"><i class="icon-briefcase"></i><b>Весь каталог объявлений</b></a></div>
            </div>
            <div class="header__items--elem t12">
              <div class="header__balance"><a href="#"><i class="icon-star"></i><span>Избранное(5)</span></a></div>
            </div>
            <div class="header__items--elem header__warn t15">
              <div><a href="#"><i class="icon-plus-squared-alt"></i><span>Подать объявление</span></a></div>
            </div>
            <div class="header__items--elem t10">
              <div><a href="">Регистрация</a></div>
            </div>
            <div class="header__items--elem t15">
              <div><a href="#"><i class="icon-user"></i><span>Личный кабинет</span></a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <div class="col-lg-8 center-block">
          <div class="row">
            <div class="col col-xs-12 col-lg-2 text--center text--lg--right margbot10 margtop10 hidden-sm hidden-xs"><a href="/" class="hidden-md"><img src="images/logo.png" alt=""></a><a href="/" class="visible-md"><img src="images/logo-mobile.png" alt=""></a></div>
            <div class="col col-xs-12 col-lg-10">
              <div class="search">
                <form action="" method="post">
                  <div class="search__top">
                    <div class="row">
                      <div class="col col-xs-12 col-md-9">
                        <input type="search" placeholder="Я ищу..." class="form-control">
                      </div>
                      <div class="col col-xs-12 col-md-3">
                        <button type="submit" class="btn btn--warning btn--lg text--uppercase btn--block">НАЙТИ!</button>
                      </div>
                    </div>
                  </div>
                  <div class="search__js search__middle visible-xs visible-sm"><b class="text--success">Расширенный поиск<i class="icon-down-open"></i></b></div>
                  <div class="search__bottom">
                    <div class="row">
                      <div class="col col-xs-12 col-md-4">
                        <div class="form-group">
                          <select name="category" class="form-control">
                            <option value="1" disabled selected>Выберите категорию</option>
                            <option value="2">Категория2</option>
                            <option value="3">Категория3</option>
                            <option value="4">Категория4</option>
                          </select>
                        </div>
                      </div>
                      <div class="col col-xs-12 col-md-4">
                        <div class="form-group">
                          <select class="form-control">
                            <option>В городе</option>
                            <option>В городе</option>
                            <option>В городе</option>
                            <option>В городе</option>
                          </select>
                        </div>
                      </div>
                      <div class="col col-xs-12 col-md-4">
                        <div class="form-group">
                          <select class="form-control">
                            <option>У метро</option>
                            <option>У метро</option>
                            <option>У метро</option>
                            <option>У метро</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="authFormBlock">
      <div class="container">
        <div class="text--center">
          <h1>Регистрация</h1>
          <div class="col-xlg-4 col-lg-5 col-md-6 center-block">
            <ul role="tablist" class="nav nav-btn">
              <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Частное лицо</a></li>
              <li><a href="#tab2" role="tab" data-toggle="tab">компания</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab1" class="active tab-pane fade in">
                <form>
                  <div class="form-group">
                    <input placeholder="Ваше имя" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="E-mail" type="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="Телефон" name="phone" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="Пароль" type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="Повторите пароль" type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col col-lg-5 col-xs-6">
                        <input type="text" class="form-control">
                      </div>
                      <div class="col col-lg-4 col-xs-6"><img src="images/captcha.jpg" alt=""></div>
                      <div class="col col-lg-3 col-xs-12">
                        <label><a href="#">Обновить</a></label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input value="зарегистрироваться" type="submit" class="btn btn--success text--uppercase btn--lg">
                  </div>
                  <div class="text--left">
                    <div class="form-group">
                      <p class="text--sm">Регистрируясь, я подтверждаю своё согласие с условиями&nbsp;<span></span><a href="#">пользовательского соглашения</a></p>
                    </div>
                    <p class="text--md">У вас уже есть аккаунт? &nbsp;<a href="#"><b>Войти</b></a></p>
                  </div>
                </form>
              </div>
              <div id="tab2" class="tab-pane fade">
                <form>
                  <div class="form-group">
                    <input placeholder="Название компании" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="Контактное лицо (рекомендуется)" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="E-mail" type="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="Телефон" name="phone" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="Пароль" type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <input placeholder="Повторите пароль" type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col col-lg-5 col-xs-6">
                        <input type="text" class="form-control">
                      </div>
                      <div class="col col-lg-4 col-xs-6"><img src="images/captcha.jpg" alt=""></div>
                      <div class="col col-lg-3 col-xs-12">
                        <label><a href="#">Обновить</a></label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input value="зарегистрироваться" type="submit" class="btn btn--success text--uppercase btn--lg">
                  </div>
                  <div class="text--left">
                    <div class="form-group">
                      <p class="text--sm">Регистрируясь, я подтверждаю своё согласие с условиями&nbsp;<span></span><a href="#">пользовательского соглашения</a></p>
                    </div>
                    <p class="text--md">У вас уже есть аккаунт? &nbsp;<a href="#"><b>Войти</b></a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="col-lg-9 center-block">
        <div class="row">
          <div class="col col-xs-12 col-lg-3 col-md-3 margbot20"><img src="images/logoFooter.png" alt=""></div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">О компании</a></b></li>
              <li><b><a href="#">Контакты</a></b></li>
              <li><b><a href="#">Сотрудничество</a></b></li>
            </ul>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">Информация</a></b></li>
              <li><a href="#" class="text--sm">Размещение объявлений</a></li>
              <li><a href="#" class="text--sm">Пользовательское соглашение</a></li>
              <li><a href="#" class="text--sm">Пакеты услуг</a></li>
            </ul>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-3">
            <ul class="list--unstyled navigation">
              <li><b><a href="#">Реклама на сайте</a></b></li>
              <li><b><a href="#">Помощь</a></b></li>
              <li><b><a href="#">Карта сайта</a></b></li>
            </ul>
          </div>
        </div><a href="wwww.alkodesign.ru" target="_blank" class="visible-sm visible-xs"><img src="images/logoAlco.png" alt=""></a>
        <ul class="list--inline social">
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
          <li><a href="#"><i class="icon-plus-squared-alt"></i></a></li>
        </ul>
        <div class="row">
          <div class="col col-xs-12 col-lg-8 col-md-8">
            <p class="text--sm">Yorby — сайт объявлений России. Использование сайта, в том числе подача объявлений, означает согласие с пользовательским соглашением. Оплачивая услуги на сайте, вы принимаете оферту. Информация о cookies.</p>
          </div>
          <div class="col col-xs-12 col-lg-3 col-md-4 pull-right"><a href="wwww.alkodesign.ru" target="_blank" class="hidden-sm hidden-xs"><img src="images/logoAlco.png" alt=""></a>
            <!--a.visible-sm.visible-xs.visible-md(href="wwww.alkodesign.ru", target="_blank"): img(src="images/logoAlkoM.png", alt="")-->
          </div>
        </div>
      </div>
    </div>
  </footer><script src="scripts/vendor.js"></script>
  <script src="scripts/main.js"></script>
</body></html>
