dist/typical.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<head>
  <meta charset="utf-8">
  <title>Объявления</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <main>
    <section class="main">
      <div class="container">
        <div class="col-lg-8 center-block">
          <div class="text--center">
            <h1>Typography</h1>
          </div>
          <h1>H1: Roboto</h1>
          <h2>H2: Roboto</h2>
          <p class="margbot30 text--lg">Size: 18px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:</p>
          <p class="margbot30">Size: 15px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:</p>
          <p class="margbot30 text--sm">Size: 12px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:</p>
          <div class="row">
            <div class="col col-md-6">
              <ul class="list--type">
                <li>You, minion. Lift my arm. AFTER HIM!</li>
                <li>Kif, I have mated with a woman. Inform the men.</li>
                <li>We're rescuing ya.</li>
                <li>That's the ONLY thing about being a slave.</li>
                <li>You don't know how to do any of those.</li>
              </ul>
            </div>
            <div class="col col-md-6">
              <ol>
                <li>You, minion. Lift my arm. AFTER HIM!</li>
                <li>Kif, I have mated with a woman. Inform the men.</li>
                <li>We're rescuing ya.</li>
                <li>That's the ONLY thing about being a slave.</li>
                <li>You don't know how to do any of those.</li>
              </ol>
            </div>
          </div>
          <ul class="list--inline colors margtop30">
            <li>
              <div style="background:#000000" class="colors__item"></div>
              <p>000000</p>
            </li>
            <li>
              <div style="background:#3d4d65" class="colors__item"></div>
              <p>3d4d65</p>
            </li>
            <li>
              <div style="background:#5f6f87" class="colors__item"></div>
              <p>5f6f87</p>
            </li>
          </ul>
          <div class="text--center">
            <h1>Site colors</h1>
          </div>
          <ul class="list--inline colors margtop30">
            <li>
              <div style="background:#ff9f10" class="colors__item"></div>
              <p>ff9f10</p>
            </li>
            <li>
              <div style="background:#fce9ca" class="colors__item"></div>
              <p>fce9ca</p>
            </li>
            <li>
              <div style="background:#52a529" class="colors__item"></div>
              <p>52a529</p>
            </li>
            <li>
              <div style="background:#cad3df" class="colors__item"></div>
              <p>cad3df</p>
            </li>
            <li>
              <div style="background:#eaebec" class="colors__item"></div>
              <p>eaebec</p>
            </li>
            <li>
              <div style="background:#f7f7f7" class="colors__item"></div>
              <p>f7f7f7</p>
            </li>
          </ul>
          <h2>Buttons</h2>
          <ul class="list--inline">
            <li><a href="#" class="btn btn--success">Normal</a></li>
            <li><a href="#" class="btn btn--success btn--xs">Tiny</a></li>
            <li><a href="#" class="btn btn--success btn--sm">Small</a></li>
            <li><a href="#" class="btn btn--success btn--md">Standard</a></li>
            <li><a href="#" class="btn btn--success btn--lg">Large</a></li>
          </ul>
          <h2>Inputs</h2>
          <ul class="list--inline">
            <li>
              <input placeholder="Inputs" class="form-control">
            </li>
            <li>
              <input placeholder="Input Hover" class="form-control">
            </li>
            <li>
              <input placeholder="Input Hover" class="form-control">
            </li>
          </ul>
          <ul class="list--inline">
            <li>
              <textarea placeholder="textarea" class="form-control"></textarea>
            </li>
            <li>
              <textarea placeholder="textarea" class="form-control"></textarea>
            </li>
          </ul>
          <ul class="list--inline">
            <li>
              <select class="form-control">
                <option>Dropdown</option>
                <option>Dropdown Hover</option>
                <option>Dropdown Selected</option>
              </select>
            </li>
            <li>
              <select class="form-control">
                <option>Dropdown</option>
                <option>Dropdown Hover</option>
                <option>Dropdown Selected</option>
              </select>
            </li>
          </ul>
          <ul class="pager padtop40">
            <li class="previous"><a href="#"><i class="icon-left-open-big"></i></a><a href="#">Previous Post</a></li>
            <li class="next"><a href="#"><i class="icon-right-open-big"></i></a><a href="#">Next Post</a></li>
          </ul>
          <div class="text--center">
            <ul class="pagination">
              <li><a href="#"><i class="icon-left-open-big"></i>пред.</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">29</a></li>
              <li><a href="#">след.<i class="icon-right-open-big"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main><script src="scripts/vendor.js"></script>
  <script src="scripts/main.js"></script>
</body></html>

app/views/typical.jade
extends layouts/_default-typical

block content
    - var title = { description: 'Typography' }
    section.main
        .container
            .col-lg-8.center-block
                .text--center
                    h1= title.description
                h1 H1: Roboto
                h2 H2: Roboto
                p.margbot30.text--lg Size: 18px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:
                p.margbot30 Size: 15px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:
                p.margbot30.text--sm Size: 12px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:
                .row
                    .col.col-md-6
                        ul.list--type
                            li You, minion. Lift my arm. AFTER HIM!
                            li Kif, I have mated with a woman. Inform the men.
                            li We're rescuing ya.
                            li That's the ONLY thing about being a slave.
                            li You don't know how to do any of those.
                    .col.col-md-6
                        ol
                            li You, minion. Lift my arm. AFTER HIM!
                            li Kif, I have mated with a woman. Inform the men.
                            li We're rescuing ya.
                            li That's the ONLY thing about being a slave.
                            li You don't know how to do any of those.
                ul.list--inline.colors.margtop30
                    li
                        .colors__item(style="background:#000000")
                        p 000000
                    li
                        .colors__item(style="background:#3d4d65")
                        p 3d4d65
                    li
                        .colors__item(style="background:#5f6f87")
                        p 5f6f87
                .text--center
                    h1 Site colors
                ul.list--inline.colors.margtop30
                    li
                        .colors__item(style="background:#ff9f10")
                        p ff9f10
                    li
                        .colors__item(style="background:#fce9ca")
                        p fce9ca
                    li
                        .colors__item(style="background:#52a529")
                        p 52a529
                    li
                        .colors__item(style="background:#cad3df")
                        p cad3df
                    li
                        .colors__item(style="background:#eaebec")
                        p eaebec
                    li
                        .colors__item(style="background:#f7f7f7")
                        p f7f7f7
                h2 Buttons
                ul.list--inline
                    li: a.btn.btn--success(href="#") Normal
                    li: a.btn.btn--success.btn--xs(href="#") Tiny
                    li: a.btn.btn--success.btn--sm(href="#") Small
                    li: a.btn.btn--success.btn--md(href="#") Standard
                    li: a.btn.btn--success.btn--lg(href="#") Large
                h2 Inputs
                ul.list--inline
                    li: input.form-control(placeholder="Inputs")
                    li: input.form-control(placeholder="Input Hover")
                    li: input.form-control(placeholder="Input Hover")
                ul.list--inline
                    li: textarea.form-control(placeholder="textarea")
                    li: textarea.form-control(placeholder="textarea")
                ul.list--inline
                    li
                        select.form-control
                            option Dropdown
                            option Dropdown Hover
                            option Dropdown Selected
                    li
                        select.form-control
                            option Dropdown
                            option Dropdown Hover
                            option Dropdown Selected
                include modules/_pager
                include modules/_paginator
